*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 4px solid #d1c4e9;
    padding-bottom: 4px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid black;
}

#takki {
    margin-top: 18px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #d1c4e9;
    border: 2px solid black;
}

#takki:hover {
    background-color: #d1c4;
}

main p {
    margin-top: 15px;
    font-size: 15px;
}

main a {
    color: purple;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    text-decoration-color: #d1c4;
    text-decoration-style: wavy;
    text-decoration-thickness: 2.5px;
}

footer {
    margin-top: 25px;
    font-size: 12px;
    text-align: left;
}